*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: grey;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
}
.container-grid{
    width: 1200px;
    height: 200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
    

}
.logo{
    width: 150px;
    height: 150px;
    padding-left: 20px;
    
    
}

h1{
    font-size: 50px;
    font-style: black;
    padding-left: 20px;
    font-family: 'Times New Roman', Times, serif;
    


}

.texto p{
    font-size: 25px;
    padding-left: 20px;
    padding-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    
}

.inputs{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction:column;
    align-items: left;
    justify-content:space-between;
    margin: 10px 0;
    width: 400px;
    height: 40px;
    font-size: 20px;
    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-style:none
   
    


 }
 

.botaoLogin{
   
   
   
    height: 20px;
    cursor: pointer;
    width: 80px;


}